<h3>Angular Material Demo...</h3>

<!-- <h4>Typography</h4>

<div class="mat-display-4">Ravi</div>
<div class="mat-display-3">Ravi</div>
<div class="mat-display-2">Ravi</div>
<div class="mat-display-1">Ravi</div>

<div class="mat-headline">This is heading for h1</div>
<div class="mat-title">This is heading for h2</div>
<div class="mat-subheading-2">This is heading for h3</div>
<div class="mat-subheading-1">This is heading for h4</div>

<div class="mat-body-1">this is body text</div>
<div class="mat-body-2">this is bold body text</div>
<div class="mat-caption">this is caption text</div> -->

<!-- <h4>Button</h4>

<button mat-button>Hello</button>
<button mat-raised-button>hello</button>
<button mat-flat-button>Hello</button>
<button mat-stroked-button>Hello</button>
<br>
<button mat-icon-button>Hello</button>
<button mat-fab>Hello</button>
<button mat-mini-fab>Hello</button>
<br>
<button color="primary" mat-raised-button>hello</button>
<button color="warn" mat-raised-button>hello</button>
<button color="accent" mat-raised-button>hello</button> -->

<!-- <h4>Button Toggel</h4>

<mat-button-toggle #btnCheck checked>Toggle</mat-button-toggle>
{{btnCheck.checked}}
<br>
<mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
  <mat-button-toggle value="Angular">Angular</mat-button-toggle>
  <mat-button-toggle value="React">React</mat-button-toggle>
  <mat-button-toggle value="Vue">Vue</mat-button-toggle>
</mat-button-toggle-group>
{{toggleGroup.value}} -->

<!-- <h4>Icon</h4>

<mat-icon color="primary">photo</mat-icon> -->

<!-- <h4>Badges</h4>
<span matBadge="3">Message</span><br><br>
<span matBadge="{{notification}}" [matBadgeHidden]="notification===0">Message</span><br><br>
<span matBadge="3" matBadgePosition="above after">Message</span><br><br>
<span matBadge="3" matBadgePosition="below before">Message</span><br><br>
<span matBadge="3" matBadgePosition="below after">Message</span><br><br>
<span matBadge="3" matBadgePosition="above before">Message</span><br><br>
<span matBadge="3" matBadgeSize="small">Message</span><br><br>
<span matBadge="3" matBadgeSize="medium">Message</span><br><br>
<span matBadge="3" matBadgeSize="large">Message</span><br><br>
<span matBadge="3" matBadgeColor="primary">Message</span><br><br>
<span matBadge="3" matBadgeColor="accent">Message</span><br><br>
<span matBadge="3" matBadgeColor="warn">Message</span><br><br> -->

<!-- <h4>Spinner</h4>
<mat-progress-spinner value="40"></mat-progress-spinner>
<mat-spinner></mat-spinner>
<mat-spinner *ngIf="showSpinner"></mat-spinner>
<button (click)="loadData()">LoadData</button> -->

<!-- <h4>Navbar</h4>
<mat-toolbar color="primary" class="navbar">
  <div>asda</div>
  <div>
    <span style="padding-right: 1rem;">Home</span>
    <span style="padding-right: 1rem;">Contact</span>
    <span style="padding-right: 1rem;">Signup</span>
  </div>
</mat-toolbar> -->

<!-- <h4>Menu</h4>
<mat-menu #appMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="subMenu">Front End</button>
  <button mat-menu-item>Back End</button>
</mat-menu>
<mat-menu #subMenu="matMenu">
  <button mat-menu-item>Angular</button>
  <button mat-menu-item>React</button>
</mat-menu>
<button mat-raised-button color="primary" [matMenuTriggerFor]="appMenu">Menu</button>

<mat-menu #lazyMenu="matMenu">
  <ng-template matMenuContent let-name="name" let-hobby="hobby">
    <button mat-menu-item>setting</button>
    <button mat-menu-item>{{hobby}}</button>
    <button mat-menu-item>logout {{name}}</button>
  </ng-template>
</mat-menu>
<button mat-raised-button color="primary" 
[matMenuTriggerData]="{name:'Ravi',hobby:'sports'}" 
[matMenuTriggerFor]="lazyMenu">Ravi</button>

<button mat-raised-button color="primary" 
[matMenuTriggerData]="{name:'Gohil',hobby:'teaching'}"  
[matMenuTriggerFor]="lazyMenu">Gohil</button> -->

<!-- <h4>MatList</h4>

<mat-list dense>
  <mat-list-item>List 1</mat-list-item>
  <mat-list-item>List 2</mat-list-item>
  <mat-list-item>List 3</mat-list-item>
</mat-list>

<mat-nav-list>
  <mat-list-item><a href="#">Home</a></mat-list-item>
  <mat-list-item><a href="#">About</a></mat-list-item>
  <mat-list-item><a href="#">Conact</a></mat-list-item>
</mat-nav-list>

<mat-nav-list>
  <mat-list-item>
    <mat-icon matListIcon>home</mat-icon>
    <h4 matLine>Heading</h4>
    <p matLine>adsadf</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon matListIcon>folder</mat-icon>
    <h4 matLine>Heading</h4>
    <p matLine>adsadf</p>
  </mat-list-item>
</mat-nav-list> -->

<!-- <h4>Mat Gride</h4>
<mat-grid-list cols="2" rowHeight="fit" style="height:200px;" gutterSize="10px">
  <mat-grid-tile>Tile 1</mat-grid-tile>
  <mat-grid-tile>Tile 2</mat-grid-tile>
  <mat-grid-tile>Tile 3</mat-grid-tile>
  <mat-grid-tile>Tile 4</mat-grid-tile>
</mat-grid-list> -->

<!-- <h4>Cards</h4>

<mat-card>
  <mat-card-title>Ravi</mat-card-title>
  <mat-card-content>aasas</mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button>Login</button>
  </mat-card-actions>
</mat-card> -->

<!-- <h4>Tabs</h4>
<mat-tab-group #tabRef (selectedTabChange)="logChange(tabRef.selectedIndex)">
  <mat-tab label="Angular">Angular</mat-tab>
  <mat-tab label="React">Ract</mat-tab>
  <mat-tab label="vue">Vue</mat-tab>
</mat-tab-group>
{{tabRef.selectedIndex}} -->

<!-- <h4>Stepper</h4>
<mat-vertical-stepper linear>
    <mat-step label="shipping address" completed="true"><p>Shipping address</p></mat-step>
    <mat-step label="billing address" completed="false" optional>
      <p>billing address</p>
      <button mat-button matStepperNext>Next</button>
      <button mat-button matStepperPrevious>Previous</button>
    </mat-step>
    <mat-step label="order details" completed="false"><p>order details</p></mat-step>
</mat-vertical-stepper> -->

<!-- <h4>Form</h4>
<mat-form-field hideRequiredMarker appearance="fill" color="accent">
  <mat-label>Name</mat-label>
  <input matInput required >
  <mat-hint align="end">min 5 character</mat-hint>
</mat-form-field>
<mat-form-field hideRequiredMarker appearance="outline" color="warn">
  <mat-label>Name</mat-label>
  <input matInput required >
  <mat-hint align="end">min 5 character</mat-hint>
</mat-form-field> -->

<!-- <h4>Mat Select</h4>
<mat-form-field appearance="outline">
  <mat-label>Topic</mat-label>
  <mat-select [(value)]="selectedValue" multiple>
    <mat-option>None</mat-option>
    <mat-optgroup label="web">
    <mat-option value="angular">Angular</mat-option>
    <mat-option value="react">React</mat-option>
    <mat-option value="vue">Vue</mat-option>
    </mat-optgroup>
    <mat-optgroup label="mobile">
    <mat-option value="asd">asd</mat-option>
    <mat-option value="asdd">asdd</mat-option>
    </mat-optgroup>
    </mat-select>
</mat-form-field>
{{selectedValue}} -->

<!-- <h4>Auto Complete</h4>

<form>
  <mat-form-field>
      <input type="text" matInput [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
        </mat-option>
      </mat-autocomplete>
  </mat-form-field>
</form> -->

<!-- <h4>Checkbox</h4>

<mat-checkbox>Subscribe</mat-checkbox><br>
<mat-checkbox labelPosition="before">Subscribe</mat-checkbox><br>
<mat-checkbox color="primary">Subscribe</mat-checkbox><br>
<mat-checkbox color="warn">Subscribe</mat-checkbox> -->

<!-- <h4>Radio button</h4>

<mat-radio-group>
  <mat-radio-button value="male" color="primary">male</mat-radio-button>
  <mat-radio-button value="female">female</mat-radio-button>
</mat-radio-group> -->

<!-- <h4>Date Picker</h4>

<mat-form-field>
  <input matInput [matDatepicker]="mydatePicker">
  <mat-datepicker-toggle [for]="mydatePicker" matSuffix></mat-datepicker-toggle>
  <mat-datepicker #mydatePicker></mat-datepicker>
</mat-form-field> -->

<!-- <h4>Mat tooltip</h4>
<button mat-raised-button matTooltip="Welcome to hello" matTooltipShowDelay="2000"
matTooltipHideDelay="2000">Hello</button>
<button mat-raised-button matTooltip="Welcome to hello" matTooltipPosition="after">Hello</button> -->

<h4>Snackbar</h4>

<button mat-button (click)="openSnackbar('item deleted','Dismiss')">Click</button>