<h3>Angular Material Demo...</h3>

<!-- <h4>Typography</h4>

<div class="mat-display-4">Ravi</div>
<div class="mat-display-3">Ravi</div>
<div class="mat-display-2">Ravi</div>
<div class="mat-display-1">Ravi</div>

<div class="mat-headline">This is heading for h1</div>
<div class="mat-title">This is heading for h2</div>
<div class="mat-subheading-2">This is heading for h3</div>
<div class="mat-subheading-1">This is heading for h4</div>

<div class="mat-body-1">this is body text</div>
<div class="mat-body-2">this is bold body text</div>
<div class="mat-caption">this is caption text</div> -->

<!-- <h4>Button</h4>

<button mat-button>Hello</button>
<button mat-raised-button>hello</button>
<button mat-flat-button>Hello</button>
<button mat-stroked-button>Hello</button>
<br>
<button mat-icon-button>Hello</button>
<button mat-fab>Hello</button>
<button mat-mini-fab>Hello</button>
<br>
<button color="primary" mat-raised-button>hello</button>
<button color="warn" mat-raised-button>hello</button>
<button color="accent" mat-raised-button>hello</button> -->

<!-- <h4>Button Toggel</h4>

<mat-button-toggle #btnCheck checked>Toggle</mat-button-toggle>
{{btnCheck.checked}}
<br>
<mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
  <mat-button-toggle value="Angular">Angular</mat-button-toggle>
  <mat-button-toggle value="React">React</mat-button-toggle>
  <mat-button-toggle value="Vue">Vue</mat-button-toggle>
</mat-button-toggle-group>
{{toggleGroup.value}} -->

<!-- <h4>Icon</h4>

<mat-icon color="primary">photo</mat-icon> -->

<!-- <h4>Badges</h4>
<span matBadge="3">Message</span><br><br>
<span matBadge="{{notification}}" [matBadgeHidden]="notification===0">Message</span><br><br>
<span matBadge="3" matBadgePosition="above after">Message</span><br><br>
<span matBadge="3" matBadgePosition="below before">Message</span><br><br>
<span matBadge="3" matBadgePosition="below after">Message</span><br><br>
<span matBadge="3" matBadgePosition="above before">Message</span><br><br>
<span matBadge="3" matBadgeSize="small">Message</span><br><br>
<span matBadge="3" matBadgeSize="medium">Message</span><br><br>
<span matBadge="3" matBadgeSize="large">Message</span><br><br>
<span matBadge="3" matBadgeColor="primary">Message</span><br><br>
<span matBadge="3" matBadgeColor="accent">Message</span><br><br>
<span matBadge="3" matBadgeColor="warn">Message</span><br><br> -->

<!-- <h4>Spinner</h4>
<mat-progress-spinner value="40"></mat-progress-spinner>
<mat-spinner></mat-spinner>
<mat-spinner *ngIf="showSpinner"></mat-spinner>
<button (click)="loadData()">LoadData</button> -->

<!-- <h4>Navbar</h4>
<mat-toolbar color="primary" class="navbar">
  <div>asda</div>
  <div>
    <span style="padding-right: 1rem;">Home</span>
    <span style="padding-right: 1rem;">Contact</span>
    <span style="padding-right: 1rem;">Signup</span>
  </div>
</mat-toolbar> -->

<h4>Menu</h4>
<mat-menu #appMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="subMenu">Front End</button>
  <button mat-menu-item>Back End</button>
</mat-menu>
<mat-menu #subMenu="matMenu">
  <button mat-menu-item>Angular</button>
  <button mat-menu-item>React</button>
</mat-menu>
<button mat-raised-button color="primary" [matMenuTriggerFor]="appMenu">Menu</button>

<mat-menu #lazyMenu="matMenu">
  <ng-template matMenuContent let-name="name" let-hobby="hobby">
    <button mat-menu-item>setting</button>
    <button mat-menu-item>{{hobby}}</button>
    <button mat-menu-item>logout {{name}}</button>
  </ng-template>
</mat-menu>
<button mat-raised-button color="primary" 
[matMenuTriggerData]="{name:'Ravi',hobby:'sports'}" 
[matMenuTriggerFor]="lazyMenu">Ravi</button>

<button mat-raised-button color="primary" 
[matMenuTriggerData]="{name:'Gohil',hobby:'teaching'}"  
[matMenuTriggerFor]="lazyMenu">Gohil</button>